.row {
  display: flex;
  justify-content: center;

  background-color: black;
}
.box {
  background-color: gray;
  color: white;
  height: 180px;
  width: 190px;
  margin-right: 15px;
}

.primary-box {
  color: white;
  background-color: #7158e2;
  margin-right: 15px;
  height: 180px;
  width: 180px;
}
.letter {
  margin-top: 40px;
  margin-left: 23px;
  margin-bottom: 15px;
  font-size: 18px;
}
