<div class="the row">
  <div class="title">The services i offer:</div>
  <div class="services row">
    <div class="servicebox col-md-4">
      <p style="font-size: 50px; margin-bottom: 0px">o</p>
      <h5>UX & UI DESIGNING</h5>
      <P>I design beautiful web interfaces with Figma and Above XD </P>
    </div>

    <div class="servicebox whiteServiceBox col-md-4">
      <p style="font-size: 50px; margin-bottom: 0px">o</p>
      <h5 class="violetFont">WEB DEVELOPMENT</h5>
      <p>
        I create beautiful interfaces with simple HTML,CSS & Javascript and also
        frameworks like Angular and ReactJs
      </p>
    </div>
    <div class="servicebox col-md-4">
      <p style="font-size: 50px; margin-bottom: 0px">o</p>
      <h5>MOBILE DEVELOPMENT</h5>
      <p>
        I am an expert mobile developer.I have experience using flutter and
        React Native.
      </p>
    </div>
  </div>
  <div class="offer row">
    <div class="servicebox whiteServiceBox col-md-4">
      <p style="font-size: 50px; margin-bottom: 0px">o</p>
      <h5
        [ngStyle]="
          isVersionControl ? { color: '#7158e2 ' } : { color: 'white' }
        "
      >
        VERSION CONTROL
      </h5>
      <P
        >I can use version control systems well,and git & mecurial are my go-to
        tool.
      </P>
    </div>

    <div class="servicebox col-md-4">
      <p style="font-size: 50px; margin-bottom: 0px">o</p>
      <h5>NPM AND NODEJS</h5>
      <p>
        I have core understanding of NPM .I can also develop general purpose
        application with NodeJS
      </p>
    </div>

    <div class="servicebox whiteServiceBox col-md-4">
      <p style="font-size: 50px; margin-bottom: 0px">o</p>
      <h5 class="violetFont">WEB SCRAPING</h5>
      <p>
        I can collect content and datafrom the internet then manipulate and
        analyze as needed.
      </p>
    </div>
  </div>
</div>
