.container-cu {
  display: flex;
  background-color: black;
  //justify-content: space-between;
  height: 50px;
}
.name {
  color: #7158e2;
  display: flex;
  //justify-content: center;
  padding-left: 120px;
  font-size: 25px;
  margin-top: 10px;

  font-family: "Poppins";
  font-style: normal;
}
.link {
  display: flex;
  text-align: right;
  //margin-top: 10px;
  font-size: 20px;
  justify-content: space-evenly;
  list-style-type: none;
  padding-right: 80px;
  padding-top: 8px;
}

.nav-link {
  color: white;
  cursor: pointer;
  padding: 5px;
}
.link a:hover {
  background-color: #4b4b4b;
  // display: block;
}
