<div class="lastPart">
  <div class="rowline row">
    <div class="column1 col-md-6">
      <div class="connect">Connect with me</div>
      <div class="satisfied">satisfied with me?Please contact me</div>
      <div class="icon">
        <img src="assets/vector1.png" alt="icon not found" class="iconImage" />
        <img src="assets/vector2.png" alt="icon not found" class="iconImage" />
        <img src="assets/vector3.svg" alt="icon not found" class="iconImage" />
        <img src="assets/vector4.svg" alt="icon not found" class="iconImage" />
      </div>
    </div>
    <div class="column2 col-md-6">
      <div class="contact">Contact me,let's make magic together</div>
      <form>
        <input type="text" placeholder="Name:" /><br />
        <input type="text" placeholder="Email:" /><br />
        <input type="text" placeholder="Message:" style="height: 60px" /><br />
        <button class="send">send</button>
      </form>
    </div>
  </div>
  <div class="lastLine row">
    <div class="lastContent col-md-12">
      <div>@2022 jayjay Dinero Dinero</div>
      <div>Fullstack Developer</div>
      <div>UI Desiner</div>
      <div>Data Analyst</div>
      <div>Designed by ernestechie</div>
    </div>
  </div>

  <div class="row">
    <div class="icon col-md-12 space">
      <img src="assets/vector1.png" alt="icon not found" class="iconImage" />
      <img src="assets/vector2.png" alt="icon not found" class="iconImage" />
      <img src="assets/vector3.svg" alt="icon not found" class="iconImage" />
      <img src="assets/vector4.svg" alt="icon not found" class="iconImage" />
    </div>
  </div>
</div>
