<app-header> </app-header>
<div class="middlepart row">
  <div class="middle col-md-6">
    <p>Hello,i m in</p>
    <h1 class="jay">Jayjay D.Dinero</h1>
    <p class="freelance-label">Freelance UI desiner,Fullstack developer,&</p>
    <p>DataMiner.I create seamless web expirences</p>
    <p>for end-users</p>
    <p>letter</p>
    <button class="abt">About me</button>
    <button class="pjt">Projects</button>
  </div>
  <div class="picture col-md-6">
    <img
      src="../../assets/portrait 1.png"
      alt="img not found"
      height="340px"
      width="350px"
    />
  </div>
</div>
<div class="paragraph row">
  <h2>About Me:</h2>
  <p class="littlePara col-md-12">
    Hi my name is Jayjay dinero denero, i am a Fullstack web developer, UI
    desiner, and mobile developer.i have honed my skills on Web Development and
    advance i have core understanding of advance UI design principles. here are
    the major skills i have.
  </p>
</div>
<div class="numpara">
  <div class="num">5+</div>
  <div class="numLine">
    Years of experience.Specialised in building apps,while ensuring a seamless
    web expirence for end users
  </div>
</div>
<app-years></app-years>
<app-service></app-service>
<app-feature></app-feature>
<app-footer></app-footer>
