<div class="featured row">
  <div class="title">Featured Projects:</div>
  <div class="font">
    I have worked on many projects over the course of being a Web Developer ,
    here are a few of my live ,<br />
    real-word projects.
  </div>
  <div class="imageBoxes row">
    <div class="imageBox col-md-4">
      <div class="imageBack">
        <img
          src="../../assets/thumbnail-1.svg"
          alt="img not found"
          class="image"
        />
        <div class="head">TWINDER</div>
        <div class="fonts">
          A live geolocation for finding tweets and tweeter users around you.
        </div>
        <button class="button1">View Live</button>
        <button class="button2">Github Repo</button>
      </div>
    </div>

    <div class="imageBox col-md-4">
      <div class="imageBack">
        <img
          class="image"
          src="../../assets/thumbnail-2.svg"
          alt="img not found"
        />
        <div class="head">LIVENTS</div>
        <div class="fonts">
          A video streaming app with live geolocation for sreaming events.
        </div>
        <button class="button1">View Live</button>
        <button class="button2">Github Repo</button>
      </div>
    </div>
    <div class="imageBox col-md-4">
      <div class="imageBack">
        <img
          class="image"
          src="../../assets/Rectangle 18.svg"
          alt="img not found"
        />
        <div class="head">MOOVE</div>
        <div class="fonts">
          Mobile app for booking instant pick up & dropoff across major cities .
        </div>
        <button class="button1">View Live</button>
        <button class="button2">Github Repo</button>
      </div>
    </div>
  </div>
</div>
